<div class="page-container">

    <!-- START PAGE SIDEBAR -->
    <div class="page-sidebar">
        <!-- START X-NAVIGATION -->
        <ul class="x-navigation">
            <li class="xn-logo">
                <a href="index.html">SHOBA Test</a>
                <a href="#" class="x-navigation-control"></a>
            </li>

            <li class="xn-title">Navigation</li>
            <li>
                <a href="index.html"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
            </li>
            <li class="xn-openable">
                <a><span class="fa fa-files-o"></span> <span class="xn-text">Pages</span></a>
                <ul>
                    <li><a href="pages-gallery.html"><span class="fa fa-image"></span> Gallery</a></li>
                    <li><a href="pages-profile.html"><span class="fa fa-user"></span> Profile</a></li>
                    <li><a href="pages-address-book.html"><span class="fa fa-users"></span> Address Book</a></li>
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-clock-o"></span> Timeline</a>
                        <ul>
                            <li><a href="pages-timeline.html"><span class="fa fa-align-center"></span> Default</a></li>
                            <li><a href="pages-timeline-simple.html"><span class="fa fa-align-justify"></span> Full
                                    Width</a></li>
                        </ul>
                    </li>
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-envelope"></span> Mailbox</a>
                        <ul>
                            <li><a href="pages-mailbox-inbox.html"><span class="fa fa-inbox"></span> Inbox</a></li>
                            <li><a href="pages-mailbox-message.html"><span class="fa fa-file-text"></span> Message</a>
                            </li>
                            <li><a href="pages-mailbox-compose.html"><span class="fa fa-pencil"></span> Compose</a></li>
                        </ul>
                    </li>
                    <li><a href="pages-messages.html"><span class="fa fa-comments"></span> Messages</a></li>
                    <li><a href="pages-calendar.html"><span class="fa fa-calendar"></span> Calendar</a></li>
                    <li><a href="pages-tasks.html"><span class="fa fa-edit"></span> Tasks</a></li>
                    <li><a href="pages-content-table.html"><span class="fa fa-columns"></span> Content Table</a></li>
                    <li><a href="pages-faq.html"><span class="fa fa-question-circle"></span> FAQ</a></li>
                    <li><a href="pages-search.html"><span class="fa fa-search"></span> Search</a></li>
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-file"></span> Blog</a>

                        <ul>
                            <li><a href="pages-blog-list.html"><span class="fa fa-copy"></span> List of Posts</a></li>
                            <li><a href="pages-blog-post.html"><span class="fa fa-file-o"></span>Single Post</a></li>
                        </ul>
                    </li>
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-sign-in"></span> Login</a>
                        <ul>
                            <li><a href="pages-login.html">App Login</a></li>
                            <li><a href="pages-login-website.html">Website Login</a></li>
                            <li><a href="pages-login-website-light.html"> Website Login Light</a></li>
                        </ul>
                    </li>
                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-warning"></span> Error Pages</a>
                        <ul>
                            <li><a href="pages-error-404.html">Error 404 Sample 1</a></li>
                            <li><a href="pages-error-404-2.html">Error 404 Sample 2</a></li>
                            <li><a href="pages-error-500.html"> Error 500</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>
        <!-- END X-NAVIGATION -->
    </div>
    <!-- END PAGE SIDEBAR -->

    <!-- PAGE CONTENT -->
    <div class="page-content">

        <!-- START X-NAVIGATION VERTICAL -->
        <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
            <!-- TOGGLE NAVIGATION -->
            <li class="xn-icon-button">
                <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
            </li>
            <!-- END TOGGLE NAVIGATION -->
            <!-- SEARCH -->

            <!-- END SEARCH -->
            <!-- SIGN OUT -->
            <li class="xn-icon-button pull-right">
                <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
            </li>

        </ul>
        <!-- END X-NAVIGATION VERTICAL -->

        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Basic</li>
        </ul>
        <!-- END BREADCRUMB -->

        <!-- PAGE TITLE -->

        <!-- END PAGE TITLE -->

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">


            <!-- START RESPONSIVE TABLES -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">

                        <div class="panel-heading" style="display: flex; justify-content: space-between;">
                            <div>
                                <h2 class="panel-title" style="font-weight: bold;">Employee List</h2>
                            </div>
                            <div>
                                <button class="btn btn-default"><i class="fa fa-plus"></i> Add New Employee</button>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div style="display: flex; justify-content: space-between;margin-bottom: 10px;">
                                <div style=" font-size: small;">
                                    Showing <select ng-model="filter.size" ng-change="fetchEmpsByPage()">
                                        <option ng-value="5">5</option>
                                        <option ng-value="10">10</option>
                                        <option ng-value="20">20</option>
                                        <option ng-value="25">25</option>
                                    </select> entries
                                </div>
                                <div style="display: flex;">
                                    <div class="form-group">
                                        <div class="col-md-6 col-xs-12">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span
                                                        class="fa fa-search"></span></span>
                                                <input type="text" ng-model="filter.search" ng-change="fetchEmpsByPage()" style="width: 240px;"
                                                    class="form-control"
                                                    placeholder="Search username, full name or email" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-right: 10px;">
                                        <select ng-model="filter.role" class="form-control select"
                                            ng-change="fetchEmpsByPage()">
                                            <option ng-value="''">ALL ROLE</option>
                                            <option ng-value="'ADMIN'">ADMIN</option>
                                            <option ng-value="'EMPLOYEE'">EMPLOYEE</option>
                                            <option ng-value="'GUEST'">GUEST</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select ng-model="filter.status" class="form-control select"
                                            ng-change="fetchEmpsByPage()">
                                            <option ng-value="''">ALL STATUS</option>
                                            <option ng-value="'ACTIVE'">ACTIVE</option>
                                            <option ng-value="'INACTIVE'">INACTIVE</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="totalElements == 0" class="no-results">
                                <i class="fa fa-search"></i> <!-- Font Awesome icon -->
                                No results found
                            </div>
                            <table class="table datatable" ng-if="totalElements > 0">
                                <thead>
                                    <tr>
                                        <th width="50" ng-click="sortBy('id')">
                                            ID <span ng-if="filter.sortBy === 'id'">{{ filter.ascending ? '▲' : '▼'
                                                }}</span>
                                        </th>
                                        <th ng-click="sortBy('username')">
                                            Username <span ng-if="filter.sortBy === 'username'">{{ filter.ascending ?
                                                '▲' : '▼'
                                                }}</span>
                                        </th>
                                        <th ng-click="sortBy('fullName')">
                                            Full Name <span ng-if="filter.sortBy === 'fullName'">{{ filter.ascending ?
                                                '▲' : '▼'
                                                }}</span>
                                        </th>
                                        <th ng-click="sortBy('email')">
                                            Email <span ng-if="filter.sortBy === 'email'">{{ filter.ascending ? '▲' :
                                                '▼' }}</span>
                                        </th>
                                        <th>
                                            Role
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr ng-repeat="emp in emps.content">
                                        <td>{{ emp.id }}</td>
                                        <td>{{ emp.username }}</td>
                                        <td>{{ emp.fullName }}</td>
                                        <td>{{ emp.email }}</td>
                                        <td>{{ emp.role }}</td>
                                        <td>

                                            <label class="switch">
                                                <input type="checkbox" ng-click="changeStatus(emp)"
                                                    ng-checked="emp.status === 'ACTIVE'" />
                                                <span></span>
                                            </label>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <div ng-if="totalElements > 0"
                                style="margin-top: 10px; display: flex; justify-content: space-between;">
                                <div style="font-size: small;">
                                    Showing <span style="font-weight: bold;">{{(currentPage - 1) * 5 + 1}} to
                                        {{(currentPage - 1) * 5 + numberOfElements}} </span> of <span
                                        style="font-weight: bold;">{{totalElements}}</span> entries
                                </div>
                                <div style="display: flex;">
                                    <ul class="pagination">
                                        <li><a href=""
                                                ng-click="goToPage(currentPage - 1 > 0 ? currentPage - 1 : 1)">Previous</a>
                                        </li>

                                        <li ng-repeat="page in getPageRange() track by $index"
                                            ng-class="{active: currentPage == page}">
                                            <a href="" ng-click="goToPage(page)" ng-if="page !== '...'">{{ page }}</a>
                                            <span ng-if="page === '...'">...</span>
                                        </li>
                                        <li>
                                            <a href=""
                                                ng-click="goToPage(currentPage + 1 > totalPages ? totalPages : currentPage + 1)">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- END RESPONSIVE TABLES -->

            <!-- END PAGE CONTENT WRAPPER -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->

<!-- MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-remove-row">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span> Remove <strong>Data</strong> ?</div>
            <div class="mb-content">
                <p>Are you sure you want to remove this row?</p>
                <p>Press Yes if you sure.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <button class="btn btn-success btn-lg mb-control-yes">Yes</button>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MESSAGE BOX-->

<!-- MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
            <div class="mb-content">
                <p>Are you sure you want to log out?</p>
                <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>